<div class="jumbotron">
  <h1>EarthSource</h1>

  <h3 class="lead">Connect with Nature.</h3>
  <!--<p><a class="btn btn-lg btn-success" href="#" role="button">-->
  <%= link_to "Check Out Our Events Calendar", events_path, class: 'btn btn-lg btn-success' %>
</div>