<!--<center><h1>Earth Source</h1>-->
<!--<h2>Rediscover Nature</h2>-->

<!--<h3><%= button_to "Events Calendar", events_path, method: :get %></h3>-->

<div class="jumbotron">
  <h1>EarthSource</h1>

  <h3 class="lead">Connect with Nature.</h3>
  <!--<p><a class="btn btn-lg btn-success" href="#" role="button">-->
  <%= link_to "Check Out Our Events Calendar", events_path, class: 'btn btn-lg btn-success' %>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>

    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>

    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
      fermentum.</p>

    <h4>Subheading</h4>

    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h4>Subheading</h4>

    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>

    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
      fermentum.</p>

    <h4>Subheading</h4>

    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>

<div class="footer">
  <p>&copy; Company 2013</p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
