<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upcoming Events</h3>
  </div>
  <div class="panel-body">
   <p>Date:</p>
   <p>Time:</p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, at delectus esse in nemo non quas vel. Adipisci autem dicta eius libero molestias nemo odio praesentium qui, quia similique temporibus?
    <%= link_to 'See more details', event_path(1) %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Date:</p>
    <p>Time:</p>
    Flim flam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, at delectus esse in nemo non quas vel. Adipisci autem dicta eius libero molestias nemo odio praesentium qui, quia similique temporibus ...

    <%= link_to 'See more details', event_path(1) %>
  </div>
</div>
