<<!DOCTYPE html>
<head>
  <title>Plant ID App</title>
  <style>
    body {
      text-align: center;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <img src="/assets/anna.png">
  <p>Welcome to the Plant App I.D. community! Post pictures of your finds here or contribute to our collective plant awareness and knowlegde by identifying plants that other plantiders are currently looking to learn about. Use this as an educational forum and a way to meet and commune with like minded nature lovers. </p>
  <input type="email" placeholder="Your email">
  <input type="submit">
</body>
